.style-20 {
    position: relative;
    z-index: 9;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.style-20:hover:before {
    left: -5px;
    color: "white";
    bottom: 0;
    height: 110%;
    border-radius: 50px;
    width: calc(100% + 10px);
}

.style-20::before {

    border-radius: 100px;
    content: "";
    background-color: #0066ff;
    color: "white";
    position: absolute;
    left: 0.5rem;
    bottom: 0;
    width: 100%;
    height: 10px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}



.style-22 {
    position: relative;
    z-index: 9;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.style-22:hover:before {
    background: rgb(67, 67, 232);
    width: 100%;
}

.style-22:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #ffa928;
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.style-22 span {
    position: relative;
    z-index: 2;
    color: #ffffff;
}



.style-17 {
    position: relative;
    color: #ffffff;
    font-family: angie-sans, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
}

.style-17:hover .link__graphic--scribble path {
    transition: stroke-dashoffset 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.style-17:hover .link__graphic--stroke path {
    stroke-dashoffset: 0;
}

.style-17 .link__graphic {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    fill: none;
    stroke: #ffa928;
    stroke-width: 1px;
}

.style-17 .link__graphic--scribble {
    top: 100%;
}

.style-17 .link__graphic--scribble path {
    transition: stroke-dashoffset 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.style-17 .link__graphic--stroke path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}
