.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease-in-out;
}

.whatsapp-button img {
    width: 30px;
    height: 30px;
}
